[Unit]
Description=ゆいちゃん TTSハンドラ

[Service]
Type=simple
ExecStart=/etc/yuichan/yuichan_kpd/start.sh
Restart=always

[Install]
WantedBy=multi-user.target