@font-face {
    font-family: 源ノ角ゴシック;
    src: url('./fonts/SourceHanSansJP-Heavy.otf');
}

* {
    font-family: 源ノ角ゴシック;
    font-size: 40px;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img/overlay.png');
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    margin: unset;
}

#team1 {
    position: absolute;
    text-align: right;
    width: 400px;
    top: 12px;
    left: 330px;
}

#team2 {
    position: absolute;
    text-align: left;
    width: 400px;
    top: 12px;
    right: 330px;
}