@font-face {
    font-family: GameFont;
    src: url('../fonts/font2.ttf');
}

body {
    background-image: url("../img/start.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: unset;
}

#timer {
    position: absolute;
    bottom: 0;
    right: 105px;
    font-family: GameFont;
    font-size: 75px;
    text-shadow: 0 0 10px #000;
    color: #ffffff;
    width: 170px;
    text-align: center;
}